<h2>Statut Fundacji <b>Painting's Not Dead</b></h2>
<div class="statute-text">
    <h3>§1. Postanowienia ogólne</h3>

    <ol>
        <li>
            Statut został ustanowiony przez Fundatora.
        </li>
        <li>
            Czas trwania Fundacji jest nieoznaczony.
        </li>
        <li>
            Siedzibą Fundacji jest Żuromino, gmina Stężyca.

        </li>
        <li>
            Terenem działalności Fundacji jest obszar Rzeczypospolitej Polskiej, przy czym w
            zakresie niezbędnym dla właściwego realizowania celów statutowych może ona
            prowadzić działalność także poza granicami Rzeczypospolitej Polskiej.
        </li>
        <li>
            Fundacja w kontaktach zagranicznych w celach informacyjnych i promocyjnych może
            posługiwać się tłumaczeniem nazwy w wybranych językach obcych.
        </li>
        <li>
            Fundacja posiada osobowość prawną.
        </li>
        <li>
            Fundacja może tworzyć oddziały, biura, przedstawicielstwa lub inne placówki, w tym
            inne Fundacje w kraju i za granicą. Przystępować do spółek krajowych i zagranicznych, fundacji, stowarzyszeń
            oraz uczestniczyć we wszystkich dopuszczalnych prawem powiązaniach organizacyjno-prawnych.
        </li>
        <li>
            Fundacja może osobom szczególnie ją wspierającym przyznawać tytuły „Honorowego
            Członka Fundacji”, a także ustanowić medale honorowe, odznaki i przyznawać je wraz
            z innymi nagrodami i wyróżnieniami osobom fizycznym i prawnym.
        </li>
        <li>
            Fundacja ma prawo używania znaku graficznego Fundacji oraz posługiwania się
            pieczęcią z nazwą Fundacji oraz pieczęcią z napisem - Fundacja Painting’ s not Dead
            i adresem siedziby.
        </li>
        <li>
            Fundacja ma możliwość powoływania jednostek terenowych, jednak jednostki te nie
            mogą uzyskiwać osobowości prawnej.
        </li>
        <li>
            Fundacja może posługiwać się skrótem „PND”.
        </li>
        <li>
            Nadzór nad Fundacją sprawuje Minister Kultury i Dziedzictwa Narodowego.
        </li>
    </ol>

    <h3>§2. Cel i zakres działania fundacji</h3>
    <h3>§3. Działalność gospodarcza</h3>
    <h3>§4. Majątek i dochody fundacji</h3>
    <h3>§5. Organy Fundacji</h3>
    <h3>§6. Zarząd Fundacji</h3>
    <ol>
        <li>
            Funkcje kierowniczo-zarządzające Fundacji pełni Zarząd.
        </li>
        <li>
            Zarząd jest powoływany przez Fundatora. Jeżeli Fundator zmarł albo z innych przyczyn
            nie może powoływać i odwoływać członków Zarządu, do Zarządu powołuje i z Zarządu
            odwołuje Prezes Zarządu.</li>
        <li>
            Zarząd Fundacji składa się z jednej do pięciu osób i powoływany jest na czas
            nieoznaczony.</li>
        <li>
            Fundator może zostać Członkiem Zarządu.</li>
        <li>
            Zarząd wybiera ze swego grona Prezesa i Wiceprezesa.</li>
        <li>
            Członkami Zarządu Fundacji mogą być wyłącznie osoby, które nie były skazane
            prawomocnym wyrokiem za przestępstwo umyślne ścigane z oskarżenia publicznego
            lub przestępstwo skarbowe.</li>
        <li>
            Członkostwo w Zarządzie wygasa na skutek śmierci, ubezwłasnowolnienia, zrzeczenia
            się mandatu oraz odwołania przez Fundatora.</li>
        <li>
            Zarząd Fundacji kieruje jej działalnością oraz reprezentuje Fundację na zewnątrz.</li>
        <li>
            9. Do zakresu kompetencji Zarządu należy podejmowanie wszelkich decyzji z wyjątkiem
            zastrzeżonych dla Fundatora dotyczących Fundacji, a w szczególności:
            <ol type="a">
                <li>
                    uchwalanie rocznych i wieloletnich programów działania oraz planów
                    finansowych Fundacji;
                </li>
                <li>
                    sprawowanie zarządu nad majątkiem Fundacji;
                </li>
                <li>
                    sporządzanie sprawozdań z działalności Fundacji;
                </li>
                <li>
                    organizowanie działalności gospodarczej Fundacji;
                </li>
                <li>
                    tworzenie i znoszenie zakładów i innych jednostek organizacyjnych Fundacji.
                </li>
            </ol>
        </li>
        <li>
            Zarząd ustala rozmiary zatrudnienia oraz wielkość środków przypadających na
            wynagrodzenia pracowników poszczególnych zakładów.</li>
        <li>
            Zarząd podejmuje uchwały, w głosowaniu jawnym, zwykłą większością głosów
            oddanych, przy czym do ważności uchwały wymagana jest obecność co najmniej
            dwóch jego Członków. W przypadku równej ilości głosów oddanych za i przeciw,
            rozstrzyga głos Prezesa.</li>
        <li>
            Oświadczenia woli w imieniu Zarządu Fundacji składa jednoosobowo Prezes Zarządu
            lub 2 członków Zarządu działających razem.</li>
        <li>
            Członkowie Zarządu są z tytułu pełnienia funkcji wynagradzani i nagradzani po
            uzyskaniu zgody Fundatora.</li>
        <li>
            Zarząd może powołać, jako swoje ciało doradcze, Komisję Programową, złożoną
            z twórców i działaczy skupionych wokół idei Fundacji.</li>
        <li>
            Członek Zarządu może być w Fundacji zatrudniony na umowie o pracę bądź umowach
            cywilnoprawnych. Zatrudnienie może dotyczyć pełnienia funkcji w Zarządzie bądź tego
            nie dotyczyć. Członek Zarządu może otrzymywać również wynagrodzenie z tytułu
            pełnienia funkcji w Zarządzie na podstawie uchwały Komisji Rewizyjnej bez
            konieczności zawierania z nim jakiejkolwiek umowy.</li>
        <li>
            Warunki pracy i płacy pozostałych pracowników i podmiotów współpracujących z
            Fundacją ustala Zarząd.</li>
        <li>
            Członkowie Zarządu Fundacji nie mogą:
            <ol type="a">
                <li>
                    udzielać pożyczek lub zabezpieczać zobowiązań majątkiem Fundacji w
                    stosunku do członków organów lub pracowników oraz osób, z którymi
                    członkowie organów oraz pracownicy organizacji pozostają w związku
                    małżeńskim, we wspólnym pożyciu albo w stosunku pokrewieństwa lub
                    powinowactwa w linii prostej, pokrewieństwa lub powinowactwa w linii
                    bocznej do drugiego stopnia albo są związani z tytułu przysposobienia, opieki lub kurateli, zwanych dalej "osobami bliskimi";
                </li>
                <li>
                    przekazywać majątku Fundacji na rzecz członków organów lub pracowników
                    oraz ich osób bliskich, na zasadach innych niż w stosunku do osób trzecich, w szczególności, jeżeli przekazanie to następuje bezpłatnie lub na preferencyjnych warunkach,
                </li>
                <li>
                    wykorzystywać majątku na rzecz członków organów lub pracowników oraz ich
                    osób bliskich na zasadach innych niż w stosunku do osób trzecich, chyba, że to  wykorzystanie bezpośrednio wynika z celu statutowego,
                </li>
                <li>
                    dokonywać zakupu towarów lub usług od podmiotów, w których uczestniczą
                    członkowie jej organów lub pracownicy oraz ich osoby bliskie, na zasadach
                    innych niż w stosunku do osób trzecich lub po cenach wyższych niż rynkowe.
                </li>
            </ol>
        </li>
    </ol>
    <h3>§7. Zmiana statutu</h3>
    <ol>
        <li>
            Zmiana statutu nie może dotyczyć zniesienia podstawowych celów, dla realizacji
            których Fundacja została ustanowiona, określonych w akcie założycielskim.
        </li>
        <li>
            Decyzję w kwestii zmiany Statutu podejmuje Zgromadzenie Fundatorów w drodze
            uchwały podejmowanej na wniosek Zarządu lub w ramach własnej inicjatywy.
        </li>
    </ol>
    <h3>§8. Łączenie fundacji</h3>
    <ol>
        <li>
            Fundacja może połączyć się z inną fundacją, o ile tego wymagać będzie efektywne
            realizowanie celów Fundacji.
        </li>
        <li>
            Połączenie nie może nastąpić, jeżeli w jego wyniku mógłby zmienić się cel Fundacji.
        </li>
        <li>
            Decyzja o połączeniu podejmuje Zgromadzenie Fundatorów lub Zarząd, w formie
            uchwały.
        </li>
    </ol>
    <h3>§9. Likwidacja fundacji</h3>
    <ol>
        <li>
            Fundacja ulega likwidacji w przypadku osiągnięcia celów, dla których została powołana
            lub wobec wyczerpania się jej środków finansowych i majątku.
        </li>
        <li>
            Majątek pozostały po likwidacji Fundacji zostanie w całości przeznaczony na cele
            zbliżone do celów Fundacji. Konkretne cele, na jakie zostanie przeznaczony majątek
            wskazuje Zgromadzenie Fundatorów.
        </li>
    </ol>
    <h3>§10. Postanowienia końcowe</h3>
    <ol>
        <li>
            Fundator nie ponosi odpowiedzialności za zobowiązania Fundacji, zaś Fundacja nie
            ponosi odpowiedzialności za zobowiązania Fundatora.
        </li>
        <li>
            W sprawach nieuregulowanych niniejszym Statutem obowiązują przepisy dotyczące
            fundacji prywatnoprawnych.
        </li>
        <li>
            Statut wchodzi w życie z dniem zarejestrowania Fundacji i uzyskania przez nią
            osobowości prawnej.
        </li>
    </ol>

</div>