<h2>Statut Fundacji <b>Painting's Not Dead</b></h2>
<div class="statute-text">
    <h3>§1. Postanowienia ogólne</h3>

    <ol>
        <li>
            Statut został ustanowiony przez Fundatora.
        </li>
        <li>
            Czas trwania Fundacji jest nieoznaczony.
        </li>
        <li>
            Siedzibą Fundacji jest Żuromino, gmina Stężyca.

        </li>
        <li>
            Terenem działalności Fundacji jest obszar Rzeczypospolitej Polskiej, przy czym w
            zakresie niezbędnym dla właściwego realizowania celów statutowych może ona
            prowadzić działalność także poza granicami Rzeczypospolitej Polskiej.
        </li>
        <li>
            Fundacja w kontaktach zagranicznych w celach informacyjnych i promocyjnych może
            posługiwać się tłumaczeniem nazwy w wybranych językach obcych.
        </li>
        <li>
            Fundacja posiada osobowość prawną.
        </li>
        <li>
            Fundacja może tworzyć oddziały, biura, przedstawicielstwa lub inne placówki, w tym
            inne Fundacje w kraju i za granicą. Przystępować do spółek krajowych i zagranicznych, fundacji, stowarzyszeń
            oraz uczestniczyć we wszystkich dopuszczalnych prawem powiązaniach organizacyjno-prawnych.
        </li>
        <li>
            Fundacja może osobom szczególnie ją wspierającym przyznawać tytuły „Honorowego
            Członka Fundacji”, a także ustanowić medale honorowe, odznaki i przyznawać je wraz
            z innymi nagrodami i wyróżnieniami osobom fizycznym i prawnym.
        </li>
        <li>
            Fundacja ma prawo używania znaku graficznego Fundacji oraz posługiwania się
            pieczęcią z nazwą Fundacji oraz pieczęcią z napisem - Fundacja Painting’ s not Dead
            i adresem siedziby.
        </li>
        <li>
            Fundacja ma możliwość powoływania jednostek terenowych, jednak jednostki te nie
            mogą uzyskiwać osobowości prawnej.
        </li>
        <li>
            Fundacja może posługiwać się skrótem „PND”.
        </li>
        <li>
            Nadzór nad Fundacją sprawuje Minister Kultury i Dziedzictwa Narodowego.
        </li>
    </ol>

    <h3>§2. Cel i zakres działania fundacji</h3>
    <h3>§3. Działalność gospodarcza</h3>
    <h3>§4. Majątek i dochody fundacji</h3>
    <h3>§5. Organy fundacji</h3>
    <h3>§6. Zarząd fundacji</h3>
    <h3>§7. Zmiana statutu</h3>
    <h3>§8. Łączenie fundacji</h3>
    <h3>§9. Likwidacja fundacji</h3>
    <h3>§10. Postanowienia końcowe</h3>
    <ol>
        <li>
            Fundator nie ponosi odpowiedzialności za zobowiązania Fundacji, zaś Fundacja nie
            ponosi odpowiedzialności za zobowiązania Fundatora.
        </li>
        <li>
            W sprawach nieuregulowanych niniejszym Statutem obowiązują przepisy dotyczące
            fundacji prywatnoprawnych.
        </li>
        <li>
            Statut wchodzi w życie z dniem zarejestrowania Fundacji i uzyskania przez nią
            osobowości prawnej.
        </li>
    </ol>

</div>