{{ define "main" }}
{{ $customCSS := resources.Get "css/custom.css" }}
<link rel="stylesheet" href="{{ $customCSS.RelPermalink }}">
<div class="team-page">


    <section class="activity">

        <h2>Fundacja Painting's not dead</h2>
        <h2>31 1140 2004 0000 3902 8688 5109</h2>

        <p>
        <ul>
            <li>NIP 5892113502</li>
            <li>KRS 0001255531</li>
            <li>REGON 545308569</li>
            <!-- <li>31 1140 2004 0000 3902 8688 5109</li> -->
            <li>kontakt e-mail: <a href="mailto:harmozamikolaj@gmail.com"><u>harmozamikolaj@gmail.com</u></a></li>
            <!-- <li><a href="#" id="open-statute"><u>statut fundacji</u></a></li> -->
        </ul>
        </p>

    </section>

    <div class="team-logo">
        {{ $logo := resources.Get "images/logo2.png" }}

        {{ if $logo }}
        <img src="{{ $logo.RelPermalink }}" alt="Logo">
        {{ else }}
        <p>Logo not found</p>
        {{ end }}
    </div>

</div>

<!-- <div class ="news-page">

    newsy w formie kafli

</div> -->

<!-- <div class = "contact-page">

</div> -->


<div id="statute-modal" class="member-modal">
    <div class="statute-content">
        <button id="statute-close">&times;</button>
        {{ partial "statut.html" . }}
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {

        const statuteModal = document.getElementById("statute-modal");
        const statuteOpen = document.getElementById("open-statute");
        const statuteClose = document.getElementById("statute-close");
        const statuteMenuLink = document.querySelector(".statute-menu-link");


        /* Open statute */
        function openStatute(event) {
            event.preventDefault();
            statuteModal.classList.add("open");
        }


        /* Close statute */
        function closeStatute() {
            statuteModal.classList.remove("open");
        }


        /* Page link */
        if (statuteOpen) {
            statuteOpen.addEventListener("click", openStatute);
        }


        document.addEventListener("click", (event) => {
            const menuLink = event.target.closest('a[href="#statute"]');

            if (menuLink) {
                openStatute(event);
            }
        });


        /* X button */
        if (statuteClose) {
            statuteClose.addEventListener("click", closeStatute);
        }


        /* Click outside modal */
        statuteModal.addEventListener("click", (event) => {
            if (event.target === statuteModal) {
                closeStatute();
            }
        });


        /* Escape */
        document.addEventListener("keydown", (event) => {
            if (event.key === "Escape") {
                closeStatute();
            }
        });

    });
</script>

{{ end }}